<article class="card-person-photo lh-info fonts-info">
    {% if metadata.image %}
        <figure class="card-person-photo">
            {% image src=metadata.image.src, alt=name, aspectRatio="1", width=250 %}
        </figure>
    {% endif %}
    <header class="card-person-header flow space:0.5rem">
        <h2 class="h3 reset-case font-bold">{{ name }}</h2>
        {% if metadata.jobTitle %}
            <p class="card-person-jobtitle palette--pop font-bold">{{ metadata.jobTitle }}</p>
        {% endif %}
        {% if metadata.email %}
            <p class="card-person-email">
                {{ metadata.email | emailLink }}
            </p>
        {% endif %}
        {% if metadata.telephone %}
            <p class="card-person-phone">
                <a href="tel:{{ metadata.telephone }}">{{ metadata.telephone }}</a>
            </p>
        {% endif %}
    </header>
</article>