<article class="card-person-contact-info fonts-info lh-info flow space:0.2rem text-center">
    <h3 class="font-[--font-stack-body] h4 reset-case">{{ name }}</h3>
    {% if metadata.telephone %}
        <p class="card-person-phone">
            <a href="tel:{{ metadata.telephone }}">{{ metadata.telephone }}</a>
        </p>
    {% endif %}
    {% if metadata.email or email %}
        <p class="card-person-email">
            {% link url=metadata.email or email, type="email", class="palette--pop no-underline" %}{% endlink %}
        </p>
    {% endif %}
</article>