<iframe
    src="https://www.instagram.com/compagnie3637/embed"
    loading="lazy"
    allowtransparency="true"
    allowfullscreen=""
    frameborder="0"
    height="559"
    scrolling="no"
    style="background: white; max-width: 540px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219,
        219); box-shadow: none; display: block; margin: auto; padding: 0px;"></iframe>