<?xml version="1.0" encoding="iso-8859-1"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 170 60" style="enable-background:new 0 0 170 60;" xml:space="preserve">
<g>
	<line style="fill:none;stroke:{{color|default('currentColor')}};stroke-width:{{strokeWidth|default('2')}};stroke-miterlimit:10;" x1="2.444" y1="30" x2="167.661" y2="30"/>
	<polyline style="fill:none;stroke:{{color|default('currentColor')}};stroke-width:{{strokeWidth|default('2')}};stroke-miterlimit:10;" points="139.785,1.927 167.9,30.043 
		139.871,58.073 	"/>
</g>
</svg>
