@view-transition {
  navigation: auto;
}
.main-header {
  view-transition-name: main-header;
}

:root {
  /* --width-prose: 50rem; */
  /*--width-max: (alias for width-body) ;*/
  /*--width-outset: ;*/
  /* --width-body: calc(var(--width-prose) * 1.618); */
  /*--width-max: var(--width-body);*/
  /* --width-section: var(--width-body); */
  /*--width-inset: ;*/
  /* --width-featured: calc(var(--width-prose) / 1.618); */
  /* --width-card: calc(var(--width-prose) / 2.618); */
  /* --width-token: calc(var(--width-prose) / 4.2358); */

  --width-outset: calc(var(--width-body) * 1.618);

  /* --radius-round: 1e5px; */
  /*--radius-body: 0rem;*/
  /*--radius-section: 2rem;*/
  --radius-prose: 1rem;
  --radius-featured: 1rem;
  --radius-card: 1rem;
  --radius-token: var(--radius-round);
  --radius-tag: 0.5rem;

  --thick-body: 5px;
  --thick-section: 5px;
  --thick-prose: 5px;
  --thick-featured: 2px;
  --thick-card: 2px;
  --thick-token: 1px;

  /*--border-style-body: solid;*/
  /*--border-style-section: solid;*/
  /*--border-style-prose: solid;*/
  /*--border-style-featured: solid;*/
  /*--border-style-card: solid;*/
  --border-style-token: solid;

  --p-card: var(--step-1);

  --px-body: var(--step--2);
  --px-section: var(--step--2);
  --px-prose: var(--step--2);
  --px-featured: var(--step--2);
  --px-card: var(--step--2);
  --px-token: 1.5em;

  --py-body: var(--step-2);
  --py-section: var(--step-6);
  /*--py-area: var(--step-1);*/
  --py-prose: var(--step-1);
  --py-featured: var(--step-0);
  --py-card: var(--step-1);
  --py-token: 0.3em;

  /* --gap-body: var(--step-0, 1.25rem); */
  /* --gap-section: var(--step-0, 1.25rem); */
  /* --gap-prose: var(--step--1, 1rem); */
  /* --gap-featured: var(--step--1, 1rem); */
  /* --gap-card: var(--step--1, 1rem); */
  /* --gap-token: var(--step--1, 1rem); */

  /* --flow-p: 1em; */
  /* --flow-h1: 0.67em; */
  /* --flow-h2: 0.83em; */
  /* --flow-h3: 1em; */
  /* --flow-h4: 1.33em; */
  /* --flow-h5: 1.67em; */
  /* --flow-h6: 2.33em; */
  /* --flow-hr: 1em; */
  /* --flow-prose: var(--step-1); */
  /* --flow-section: var(--step-2); */
  /* --flow-area: var(--step-3); */

  /* ul and ol left padding */
  /* --offset-list: 2rem; */
  /* --offset-blockquote: 1rem; */
  /* --text-underline-offset: 0.15em; */
  /* --fit: cover; */
}

/* The theme choses how to apply colors */
:where(:root, body, [class*="palette"]) {
  --color-text: var(--color-read);
  --color-bg: var(--color-neutral);

  /* --- Optional defaults / examples --- */
  /* --color-border: var(--color-read); */
  /* --color-outline: var(--color-read); */
  /* --color-text-decoration: var(--color-read); */
  /* --color-accent: var(--color-pop); */
  /* --color-text-emphasis: var(--color-read); */
  /* --color-shadow has to be used manually in box-shadow definitions */
  /*--color-shadow: var();*/
  /* --color-caret: var(--color-pop); */
  /* --color-column-rule: var(--color-read); */
  /* --color-fill: var(--color-pop); */
  /* --color-stroke: var(--color-read); */
  /* --- FOCUS --- */
  /* --color-outline--focus: var(); */
  /* --- SELECTION --- */
  /*--color-text--selection: var();
    --color-bg--selection: var();*/
  /* --- A --- */
  /* --color-text__a: var(); */
  /* --color-bg__a: transparent; */
  --color-text__a--hover: var(--color-pop);
  /* --color-bg__a--hover: var(); */
  /* --- BUTTON --- */
  /*--color-text__button: var();*/
  /*--color-bg__button: var();*/
  /*--color-border__button: var();*/
  /* --color-text__button--hover: var(--color-pop); */
  /*--color-bg__button--hover: var();*/
  /*--color-border__button--hover: var();*/
  /* --color-text__button--disabled: var(); */
  /* --color-bg__button--disabled: var(); */

  /* --- CODE --- */
  /* --color-text__code: var(); */
  /* --color-bg__code: var(); */
  /* --color-border__code: var(); */

  /* --- MARK --- */
  /* --color-text__mark: var(); */
  /*--color-bg__mark: var();*/
  /* --color-border__mark: var(); */

  /* --- SCROLLBAR --- */
  /* TODO: this is for the Reel Layout Component */
  /* --track-color */
  /* --thumb-color */
}

input,
textarea {
  border-radius: var(--radius-card);
  border: 1px solid currentColor;
  padding-inline: var(--step--3);
  background-color: var(--white);
  /* color: var(--color-tone); */
  color: currentColor;
}

:where(
  a.button,
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"]
) {
  transition: all 0.08s ease;
  text-box-trim: trim-end;
  & * {
    text-box-trim: trim-end;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  &:not(.reset-case) {
    text-transform: uppercase;
  }
  & > a {
    text-decoration: none;
    font-weight: 700;
  }
}
h1:not(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-size: var(--step-6-8);
  text-align: center;
  font-weight: 300;
  max-inline-size: var(--width-body);
  /* text-box: trim-both cap alphabetic; */
}
h2:not(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-size: var(--step-5-7);
  font-weight: 300;
  max-inline-size: var(--width-body);
  /* max-inline-size: var(--width-outset); */
  /* margin-left: calc(50% - min(99.99vw, var(--width-outset, 99.99vw)) / 2); */
  /* text-box: trim-both cap alphabetic; */
}
hr {
  border-top-color: var(--color-read);
}
:where(.icon) {
  stroke-width: 1px;
  --size-icon: 30px;
}

#main-nav a[aria-current="page"] {
  font-weight: bold;
}
main > h1 {
  /* max-inline-size: var(--width-body); */
  margin-block-start: var(--step-9);
  position: relative;
  isolation: isolate;
  /* background: none; */
}
main > h1::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0 0 40% 0;
  z-index: -1;
  /* background-color: var(--color-pop); */
  --color-bg: var(--color-pop);
  --bleed-top: 100vh;
  /* height: 1em;
  width: 100%; */
  /* margin-block-end: 1em; */
  border-image: conic-gradient(var(--color-bg) 0 0) fill 0/0 /
    var(--bleed-top, var(--bleed-block, 0))
    var(--bleed-right, var(--bleed-inline, 100vw))
    var(--bleed-bottom, var(--bleed-block, 0))
    var(--bleed-left, var(--bleed-inline, 100vw));
}

.lh-info {
  line-height: 1.2;
}
.button-alt::after {
  /* content: "→"; */
  content: "";
  vertical-align: -0.2em;
  display: inline-block;
  inline-size: 1.5em;
  block-size: 1em;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20170%2060%22%20style%3D%22enable-background%3Anew%200%200%20170%2060%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cline%20style%3D%22fill%3Anone%3Bstroke%3AcurrentColor%3Bstroke-width%3A4%3Bstroke-miterlimit%3A10%3B%22%20x1%3D%222.444%22%20y1%3D%2230%22%20x2%3D%22167.661%22%20y2%3D%2230%22%2F%3E%0A%09%3Cpolyline%20style%3D%22fill%3Anone%3Bstroke%3AcurrentColor%3Bstroke-width%3A4%3Bstroke-miterlimit%3A10%3B%22%20points%3D%22139.785%2C1.927%20167.9%2C30.043%20%0A%09%09139.871%2C58.073%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  margin-inline-start: 0.5rem;
  transform: translateX(0);
  transition: transform 0.2s ease;
}
.button-alt:hover::after {
  transform: translateX(1rem);
}
